[submodule "client"]
  path = VegEvery_client
  url = https://github.com/SayuriOkuyama/VegEvery_client
[submodule "server"]
  path = VegEvery_server
  url = https://github.com/SayuriOkuyama/VegEvery_server
